[2020-07-16 23:27] MarioHewardt opened #2 "Upgrade to latest BCC version to support new capabilities."

[2020-07-17 07:04] benranck opened #4 "fail after install on wsl2 - std::experimental::filesystem::v1::__cxx11::filesystem_error"
After installing from
https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
Running on wsl2 18.04 I get the following error;
[code]

[2020-07-17 07:07] oneEdoubleD opened #5 "Sudo required"
Would it be possible to use ProcMon, even if just a limited subset of features, without requiring sudo?

[2020-07-17 07:14] harjoc opened #6 "Sigsegv when pressing F1"
Reproduced on up-to-date ubuntu 18.04 with 5.3.0-42-generic kernel, procmon installed from packages.microsoft.com.

[2020-07-17 07:15] #6 closed

[2020-07-17 07:16] go-dockly opened #7 "black empty screen after install"
basically the tool does not work and the compile time is 17 minutes
-_- what a dissappointing time waste

 stopping now [-ferror-limit=]
                              20 errors generated.

[2020-07-17 07:26] jahabibi commented on #7
Hey @go-dockly sorry to hear you are encountering this issue. Could you provide more details on your environment and the errors you are encountering?

[2020-07-17 07:30] go-dockly commented on #7
already uninstalled it

[2020-07-17 07:45] pixdrift opened #8 "Minimum OS requirement is Ubuntu specific"
Hi,

From the README.md:

Is there something specific to Ubuntu 18.04 LTS that makes Ubuntu the Minimum OS version? Is there a kernel version, feature or library requirement that can be defined here instead?

[2020-07-17 07:54] leommxj commented on #4
same here

[2020-07-17 08:05] stemid commented on #8
I tried building it on Fedora by installing the following packages;

    sudo dnf install bison '@Development tools' flex libedit-devel llvm6.0-devel llvm6.0-libs \
      clang-devel elfutils-libelf-devel zlib-devel llvm6.0-static bcc

But when running cmake I just get this issue.

[code]

I tried pointing to the LLVM dirs with `-DCMAKE_PREFIX_PATH=/usr/lib64` and `-DLLVM_LIBRARY_DIRS=/usr/lib64/l

[2020-07-17 08:39] VMinute opened #10 "Tool does not work on ubuntu 18.04 with GA kernel"
When running on ubuntu 18.04 the tool doesn't show any information. I can see the main screen, but number of event is stuck at 0, even after a few minutes spent running other apps etc.

Minimum requirements list just ubuntu 18.04 but on my Ubuntu 18.04 machine the tool shows no information and when I quit I get this message on the terminal:
[code]

My PC is actually running 4.15 that is the defaul

[2020-07-17 09:23] yapus commented on #7
[code]

[2020-07-17 09:56] ArcticB opened #11 "Possibility to add a static config file and to log syscalls"
Hello,

I'm glad to see that there is finally a concrete implementation of syscall hooking using eBPF. What do you think about adding static configurations to your solution in order to replace systems like Auditd ?

Thanks

[2020-07-17 10:05] ldh0227 commented on #4
same here...

[code]

[2020-07-17 10:14] tpericin opened #12 "Heap overwrite due to type confusion"
There's a type mismatch here. On x64 platforms, where pointer size is greater than unsigned long, this will cause additional 4 bytes to be written after val on heap.

https://github.com/microsoft/ProcMon-for-Linux/blob/57eca030ef4f397680f0af9a61febaa21f0bc962/src/display/screen.cpp#L1128

This should instead be:

`int size = sizeof(unsigned long); `

Best regards,

[2020-07-17 10:42] skyrider223 commented on #10
Hello @VMinute,

Maybe your kernel is too old ?
Linux valterP52S **4.15**.(...) < HINT: bpf_get_stack missing (added in Linux **4.18**)

Cheers,

[2020-07-17 10:47] VMinute commented on #10
For sure my kernel is too old, I hoped it was clear in the message :)
But this is the standard kernel for ubuntu 18.04. You may update it (I will probably try as soon as I'll not have too many urgent things to finish), but that is not the standard.
So having "ubuntu 18.04" as a requirement is misleading.
Maybe the ubuntu package itself could check kernel version and give a warning?

[2020-07-17 11:06] Worty commented on #8
Arch and Fedora is using clang 10 which cant build bcc 0.10 (https://github.com/iovisor/bcc/commit/1599c2ef8206988d5d)

[2020-07-17 12:24] errieman opened #13 "Does not work on Ubuntu 20.04 LTS"
When I try to start this tool on Ubuntu 20.04 LTS it gives me errors, then opens the UI and then does nothing.

**Output**:
[code]

**Version info:**
procmon:
`procmon_1.0.0-291_amd64.deb`
lsb_release:
[code]
uname:
`Linux 5.4.0-40-generic #44-Ubuntu SMP Tue Jun 23 00:01:04 UTC 2020 x86_64 x86_64 GNU/Linux`

[2020-07-17 12:31] johan-boule commented on #12
Your fix is right. I just want to point out that only Microsoft Windows is using the LLP64 model, where "long" is still 32 bits, and you need "long long" to have 64 bits. All other platforms including Linux use at least LP64 (i.e. "long" is 64 bits).

[2020-07-17 12:33] stemid commented on #8
I came a bit further towards running it on Fedora with this Dockerfile but it's still generating a lot of errors and the curses UI is empty of any data so it doesn't seem to work.

Maybe it's helpful to some Fedora user.

[code]

install_bcc.sh is simply;

[code]

    $ docker build -t procmon .

I've downgraded my F32 system to cgroupsv1 because I feel that podman isn't ready for daily use yet.

[2020-07-17 12:40] tpericin commented on #12
You're right, it is implementation defined. I was thinking about the worst case scenario here. Thanks for looking into it.

[2020-07-17 12:50] dazzag24 commented on #4
ditto

[2020-07-17 13:22] vanillajonathan opened #14 "Host it on the Microsoft packages repository"
Put packages somewhere on http://packages.microsoft.com/repos/

[2020-07-17 13:27] Marwolf commented on #13
Same result here with the OS

[2020-07-17 13:28] MarioHewardt commented on #4
Try mounting /sys/kernel/debug.

If that still doesn't work it's most likely due to the fact that WSL2 doesn't come with BPF enabled by default and you will need to build the WSL2 kernel with the right configuration to generate and install the correct modules. Here are the rough instructions on how to get that done:

https://gist.github.com/MarioHewardt/5759641727aae880b29c8f715ba4d30f

[2020-07-17 13:30] MarioHewardt commented on #5
At this time, sudo is required for most all of procmon functionality.

[2020-07-17 13:30] #5 closed

[2020-07-17 13:37] MarioHewardt commented on #10
You are correct, apologies for that. One particular capability of procmon is collection of stack traces and this does indeed require 4.19 (most other capabilities should work on 4.15). One approach here would be to have procmon check the kernel version and only enable the capabilities that the kernel supports (to some degree at least, not sure if we want to get too granular).

[2020-07-17 13:45] MarioHewardt commented on #13
This preview targets 18.04. We're planning on having more version/distros enabled with 1.0. There should be nothing preventing it from running on 20.04 (since BPF is enabled) but you may have to build it using a later version of BCC than what our build instructions are using today.

[2020-07-17 14:27] WSLUser commented on #4
I have a config with this enabled along with a bunch of other optimizations and better defaults: https://github.com/microsoft/WSL2-Linux-Kernel/pull/115 Currently requires kernel 5.7.8 or newer. Follow this guide for compilation: https://wsl.dev/wsl2-kernel-zfs/

[2020-07-17 16:46] jahabibi commented on #14
Hey @vanillajonathan the preview package is currently published to Microsoft's Ubuntu 18.04 package repository. You can find the [installation instructions here](https://github.com/microsoft/ProcMon-for-Linux/blob/main/INSTALL.md).

[2020-07-17 16:46] #14 closed

[2020-07-17 16:46] pixelr0 commented on #13
same here. doesn't work on 20.04 (20.04 is the current LTS!!)

[2020-07-17 16:57] mletterle commented on #13
You need to build against a v0.14.0 BCC, here's a patch to the CMake configuration that worked for me:

[code]

[2020-07-17 17:03] josalem commented on #11
We've discussed having a config file, but haven't done any formal planning for it.  How would you imagine it would work?  I'm imagining a dotfile type configuration that could be placed in a known location per user and per machine, i.e., `~` and `/etc/somewhere`.

[2020-07-17 17:06] josalem commented on #12
Good catch!  @jahabibi, can you make a PR for this?

[2020-07-17 17:07] josalem commented on #7
I believe this is a dupe of #13 which has more discussion/information.

[2020-07-17 17:07] #7 closed

[2020-07-17 17:18] mletterle commented on #13
That may be true, but this issue is specifically about getting it to work on Ubuntu 20.04 LTS

[2020-07-17 17:32] lpereira opened #15 "Syscall table uses hardcoded numbers"
Syscall numbers vary between different architectures, so[ tables like this won't be portable](https://github.com/microsoft/ProcMon-for-Linux/blob/57eca030ef4f397680f0af9a61febaa21f0bc962/src/tracer/ebpf/syscall_schema.cpp#L21) for arches other than x86_64.

These tables can be built by running a script like this during build time:

[code]

Which will produce something like:

[code]

(It can be eas

[2020-07-17 17:34] josalem commented on #13
Thanks, @mletterle!

Do you know if that includes the statically linked library, `libbcc.a`?  The reason we are building it with procmon for now, is that we statically link `libbcc.a` and last we checked they don't include the `.a` library in their packages.  We do this in order to have a "hot drop"-able binary that can be _theoretically_ used on any platform with the necessary kernel version/conf

[2020-07-17 17:55] vanillajonathan commented on #14
Hey @jahabibi, that's an old release. Is it only available on 18.04?
The new LTS release is version 20.04.

[2020-07-17 18:09] jahabibi commented on #14
We are aware of the newer Ubuntu 20.04 LTS release and we will be supporting it as we move forward. For the initial release of Procmon Preview we are limited to Ubuntu 18.04 as BCC v0.10.0 does not support the newer kernel Ubuntu 20.04 ships with by default. Please follow #2 for updates as we address this to support newer kernels.

[2020-07-17 18:48] ckorn opened #17 "[Solus Linux] /sys/kernel/debug/tracing/events/syscalls No such file or directory"
Was able to compile after installing these packages on Solus Linux:
[code]

However procmon fails to start:
[code]

[2020-07-17 18:56] josalem commented on #17
I'm not familiar with this distro, but it sounds like it doesn't come with debugfs mounted by default.  You can read more details on it [here](https://www.kernel.org/doc/html/latest/filesystems/debugfs.html), but to turn it on, you should be able to run `mount -t debugfs none /sys/kernel/debug` to mount it.  Try running again after that.

That being said, I think we should have a better failure pa

[2020-07-17 19:06] ckorn commented on #17
Thanks for the quick response!

Unfortunately this did not work.
It is already mounted but syscalls are just missing there:
[code]

[2020-07-17 19:14] josalem commented on #17
Interesting.  What do you have under `/sys/kernel/debug/tracing/events/`?

Do you know what kernel version you have installed?  Out of curiosity, what's the base distro for Solus?  It's possible the kernel wasn't configured with syscall probes.

[2020-07-17 19:25] ckorn commented on #17
[code]
[code]
I don't know what Solus is based.
How ever this seems to be the config of the kernel (found in /lib/modules/5.6.18-156.current/build/.config)

[kernel_config.zip](https://github.com/microsoft/ProcMon-for-Linux/files/4939808/kernel_config.zip)

[2020-07-17 19:27] #12 closed

[2020-07-17 19:31] josalem commented on #17
I'll try to get some time to take a look at kernel version 5.6 and see if the layout of this directory has changed.  I see `raw_syscall` in there which means you should have the tracepoints needed for the BPF program I think.  I'll add the `kernel` label to this issue and track it with our efforts to work on the newest kernels.

[2020-07-17 20:22] pidloop opened #18 "bcc fails to build on rpi 10 (buster)"
On Raspbian GNU/Linux 10 (buster) near the end of making bcc I get this message:

`[ 95%] Building CXX object tests/cc/CMakeFiles/test_libbcc.dir/test_usdt_args.cc.o
In file included from /home/pi/bcc/tests/cc/test_usdt_args.cc:19:
/home/pi/bcc/tests/cc/test_usdt_args.cc: In function 'void ____C_A_T_C_H____T_E_S_T____55()':
/home/pi/bcc/tests/cc/test_usdt_args.cc:67:14: error: 'parser' was not dec

[2020-07-17 20:45] jouellnyc opened #19 "Install document does not explicitly have cmake as a dependency"
On the main page :

https://github.com/microsoft/ProcMon-for-Linux/

sudo apt-get -y install bison build-essential flex git libedit-dev \
  libllvm6.0 llvm-6.0-dev libclang-6.0-dev python zlib1g-dev libelf-dev

could also reference 'cmake'

[2020-07-17 21:00] egee-irl opened #20 "Possible memory leak on KDE neon 5.19 (Ubuntu 18.04.4)"
Host system is KDE neon 5.19 which is based on Ubuntu 18.04.4.

Running procmon with no arguments results in procman running but constantly consuming memory until there is none left.

Steps to repo:

1) Download + Install procmon
2) Launch procman like so `sudo procmon`
3) Which memory consumption ever-increasing

The number of "Total Events:" never stops increasing which makes me wonder if there'

[2020-07-17 21:07] josalem commented on #20
If you don't specify any arguments, procmon will trace all the syscalls it knows about: https://github.com/microsoft/ProcMon-for-Linux/blob/ad86920331dda3315538ab0ee30fb24727aff82d/src/configuration/procmon_configuration.cpp#L146-L153

I'm pretty sure what you're seeing is the in memory database growing as events are saved.

[2020-07-17 21:28] MarioHewardt commented on #20
How fast is the memory growing? Say, every 5 seconds it grows by X MB?

[2020-07-17 21:41] egee-irl commented on #20
It looks like it collects around 2500 events every 1 second and grabs about 100MB of memory every 1 second.

lscpu snippet:

[code]

[2020-07-17 21:49] MarioHewardt commented on #20
A small increase is to be expected as events are collected. I'm not, however, able to reproduce the large increase you are seeing.

[2020-07-17 21:55] egee-irl commented on #20
I let it run for about 4 minutes and it is up to 2,000,000 total events and 8000mb used, and still increasing. Luckily, the moment I ctrl-c, it closes and returns all of the memory.

[2020-07-17 22:03] MarioHewardt commented on #20
What does htop show for memory consumption (specifically for procmon)?

[2020-07-17 22:09] egee-irl commented on #20
![image](https://user-images.githubusercontent.com/6679968/87834530-85b5cb00-c83f-11ea-9b11-5b4818964688.png)

[2020-07-17 22:17] MarioHewardt commented on #20
Just to be sure, this is Ubuntu 18.04 correct?

[2020-07-17 22:20] egee-irl commented on #20
It is [KDE neon](https://neon.kde.org/) 5.19 which is functionally the same as Kubuntu 18.04.

lsb_release -a
[code]

uname -a
```Linux egee-workstation 5.3.0-53-generic #47~18.04.1-Ubuntu SMP Thu May 7 13:10:50 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux```

[2020-07-17 22:37] MarioHewardt commented on #20
There is likely some difference in behavior between the distros. While the preview release is focused on Ubuntu 18.04 we will definitely have to take a closer look at this as we move forward. Thanks for reporting it!

[2020-07-17 22:48] MarioHewardt commented on #18
Thanks for the report. We haven't really tested building bcc for Raspian. I would suggest opening an issue on the iovisor/bcc repo.

[2020-07-18 00:05] norbusan opened #21 "Build fails on Debian/sid"
The build breaks completely, possibly due to some bcc incompatibilities.

First step
[code]

ended with errors
[code]

Then I install `libbpfcc-dev` which provides this file. Now compilation fails at the loading stae:
[code]

Furthermore, the provided .deb file does not work due to missing and unavailable libraries (panel and ncurses.so.5).

[2020-07-18 00:18] norbusan commented on #21
Switching the bcc git tag to 0.14:
[code]

allows the build to finish, but core dumps:
[code]

[2020-07-18 02:19] TETRA2000 opened #22 "Maybe required cmake should be >= 3.14"
I found that `FetchContent_MakeAvailable` isn't available on cmake 3.13.0 when I tried to make this project.

[code]

That command was introduced on cmake 3.14 according to its release note.
https://cmake.org/cmake/help/v3.14/release/3.14.html#modules

[2020-07-18 07:01] Xcess commented on #17
solus is not based on other distros. It's standalone

[2020-07-18 10:13] oneEdoubleD commented on #5
Ah that's a shame, dtrace can work for all non-escalated processes so I thought it might be possible. Looks good anyway, thanks for porting to Linux :)

[2020-07-18 10:32] vanillajonathan opened #24 "Package it in Debian"
Package ProcMon and make it available in the Debian package repositories.

[2020-07-18 17:10] mbluett88 opened #25 "Procmon Install Fails"
I issued the set of commands both in #1 and #2. Neither works.
The first fails stating that it is not a DEB package.
The 2nd fails:
sudo apt-get install procmon
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package procmon
** Mint 20.

[2020-07-18 17:11] asdf8dfafjk commented on #24
Also, "please" make a dvd and personally present it at vanillajohnsons house.

[2020-07-18 17:39] mbluett88 opened #26 "Procmon Build Fails"
In steps 2 & 3, the make fails because FlexLexer.h is missing.

[2020-07-18 18:10] mbluett88 commented on #26
Also bpf.h cannot be found.

[2020-07-19 04:01] DI555 opened #27 "win version"
any chance to see and opensourced win version either ?

[2020-07-19 09:57] Vitexus commented on #13
Debian 10 Buster:

[code]

[2020-07-19 10:30] snappyJack commented on #13
same problem with you

[2020-07-19 12:58] rwperrott commented on #25
I second that, on Mint LMDE 4 (currently Debian 10.2)

- $(lsb_release -rs) part of install URL failed to resolve
- Opened https://packages.microsoft.com/config/ubuntu/ in a web browser
- Clicked on the 19.10 directory link
- Download packages-microsoft-prod.deb
- sudo dpkg -i packages-microsoft-prod.deb ran fine
- sudo apt-get install procmon failed "E: Unable to locate package procmon"

[2020-07-19 13:45] lucypol commented on #24
https://github.com/microsoft/ProcMon-for-Linux/blob/main/INSTALL.md

wget -q https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb

Why wait?

No need to suck on distro package repos, you can add upstream as additional sources

The problem with distro repos is they are notouriously out of

[2020-07-19 14:19] rwperrott commented on #22
I had to download
     https://github.com/Kitware/CMake/releases/download/v3.18.0/cmake-3.18.0-Linux-x86_64.sh
and
     sudo sh cmake-3.18.0-Linux-x86_64.sh  --skip-license --exclude-subdir --prefix=/usr/local
to get a past 3.14.* recent version on Mate LMDE4, then it built fine.

[2020-07-19 14:24] spvkgn commented on #25
There is no procmon debian package for your ubuntu release yet https://packages.microsoft.com/ubuntu/19.10/prod/pool/main/p/
It packaged for 18.04 lts only https://packages.microsoft.com/ubuntu/18.04/prod/pool/main/p/procmon/

[2020-07-19 16:35] vanillajonathan commented on #24
Because it is easier to just be able to install things directly without having to add third-party sources for each piece of software.

[2020-07-19 18:00] tigros commented on #10
i had this problem too so discovered ukuu and put 5.7.1 but same symptoms then tried 4.20.17 and it works. i just thought 5.7.1 issue might be of interest.

[2020-07-19 18:08] lucypol commented on #24
So take it up with the distro maintainer, go to their github

[2020-07-19 18:40] Kloenk opened #28 "Do not acces network for building"
On NixOS when running cmake there is no network access.  I did not find a way to download the files before, and then give cmake a path to the downloaded files, to make it work under NixOS.

[2020-07-19 18:50] elfring opened #29 "#define ⇒ enum?"
Would you like to replace more defines for constant values by [enumerations](https://en.wikipedia.org/wiki/Enumerated_type#C_and_syntactically_similar_languages "Description for enumerated types") to stress their relationships?
- […`_COLOR`](https://github.com/microsoft/ProcMon-for-Linux/blob/70d5196efce7e4e625912ceadccadbcc42f83af4/src/display/screen.h#L47)
- [`TRACER_`…](https://github.com/micro

[2020-07-19 19:00] elfring opened #30 "Remove an unnecessary null pointer check"
[An extra null pointer check is not needed](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") in [the function “safeDelete”](https://github.com/microsoft/ProcMon-for-Linux/blob/70d5196efce7e4e625912ceadccadbcc42f83af4/src/logging/easylogging%2B%2B.h#L853 "Update candidate").

[2020-07-19 19:15] elfring opened #31 "Improve exception safety with smart pointers"
Would you like to [wrap any pointers](https://github.com/microsoft/ProcMon-for-Linux/blob/ad86920331dda3315538ab0ee30fb24727aff82d/src/display/screen.cpp#L27 "Update candidate: Screen::InitializeFormatters()") with the class template “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

[2020-07-19 19:23] elfring opened #32 "Catch exceptions in main()?"
I expect that exception handling is usually supported by a C++ program. I wonder why your function “[main](https://github.com/microsoft/ProcMon-for-Linux/blob/70d5196efce7e4e625912ceadccadbcc42f83af4/src/procmon.cpp#L14 "main() function")” does not contain [corresponding try and catch instructions](https://stackoverflow.com/questions/368184/does-it-make-sense-to-catch-exceptions-in-the-main "Does

[2020-07-19 19:55] mbluett88 commented on #25
I realize there is no package yet. What my post was about was the instructions about how to install Procmon from the Github repositories.

[2020-07-20 09:37] ZaWertun commented on #28
This restriction exists at least for Fedora / Centos too. You can't access internet while building pacakages.

[2020-07-20 10:31] fahri314 opened #33 "bpf: Failed to load program: Invalid argument"
At first start error.
Ubuntu 18.04.4 LTS
Linux debian 4.15.0-111-generic

[code]

[2020-07-20 10:36] fahri314 commented on #33
I guess i should upgrade my kernel version to 4.18 or upper.

[2020-07-20 12:40] WSLUser commented on #10
I would consider the kernel version you get from `apt upgrade` to be standard for Ubuntu. Doesn't matter it's not the initial one when Ubuntu 18.04 releases. I would consider GA to be the latest available from the Ubuntu repositories for that distro version.

[2020-07-20 13:21] ArcticB commented on #11
To my mind, it could be a global config file (`/etc`) where you define syscalls that you want to monitor. While hooking one of those syscalls, it would log the call in a file defined in the conf. And finally it would be possible to set filters on syscall args and return. That's how I see it but it can be done an other way.

[2020-07-20 15:44] 1ace commented on #28
FWIW Arch has the same rule, although it isn't enforced for now because of projects like this

[2020-07-21 03:25] iljavs opened #35 "Consider checking the real user id as opposed to the effective user id."
https://github.com/microsoft/ProcMon-for-Linux/blob/ad86920331dda3315538ab0ee30fb24727aff82d/src/procmon.cpp#L17

line 17 checks the effective uid, signalling it's ok to come from a set user id root environment. However, right under it there's a call to system(), which clearly signals this code has no business being used in such an environment.

[2020-07-21 04:08] #22 closed

[2020-07-21 04:18] jahabibi commented on #19
Hey @jouellnyc this is due to the fact that the default `cmake` package that ships with Ubuntu 18.04 LTS is less than the required `cmake v3.14`. This is why it is documented in the requirements as it allows people to install `cmake v3.14+` using their desired method.

[2020-07-21 04:38] jahabibi commented on #25
As @spvkgn noted we have only published a package for Ubuntu 18.04 LTS as is noted in our [installation instructions](https://github.com/microsoft/ProcMon-for-Linux/blob/main/INSTALL.md#ubuntu-1804). Due to this when you manually downloaded the `packages-microsoft-prod.deb` from the Microsoft Ubuntu 19.10 repository you registered the Microsoft Ubuntu 19.10 package feed, not the Microsoft Ubuntu 1

[2020-07-21 04:40] jahabibi commented on #26
@mbluett88 Can you provide information of what your environment is? Specifically what `lsb_release -a` and `uname -r` return?

[2020-07-21 04:48] jahabibi commented on #33
Hey @fahri314 as noted in our [requirements ](https://github.com/microsoft/ProcMon-for-Linux#requirements) `procmon` requires kernel version >= 4.18. If you have any further issues after you upgrade the kernel please re-open this issue and we can investigate.

[2020-07-21 04:48] #33 closed

[2020-07-21 05:22] jouellnyc commented on #19
Howdy @jahabibi

OK Very good! Thanks for the update.

[2020-07-21 05:22] #19 closed

[2020-07-21 10:19] lingsamuel opened #36 "bcc 0.10.0 can't be built in Arch Linux now"
ref commit: https://github.com/iovisor/bcc/commit/1599c2ef8206988d5df7eeadc3c5138c006ac245#diff-af3b638bc2a3e6c650974192a53c7291

[2020-07-21 11:48] iradization opened #37 "procMon for macOS."
Hi, just interested to know if there are any plans to port this project to macOS as well?
I know from experience the apple doesn't willing to provide descent unified API to acquire all process contents (no /proc library), and wrapping it with such tool would be greatly welcomed.

[2020-07-21 12:13] Wonko7 opened #38 "Does not build with bcc 0.15"
Ebuild for gentoo should look something like this: https://github.com/Wonko7/w7-overlay/blob/procmon/sys-process/procmon/procmon-1.0.ebuild
This is how it fails, what am I missing?

[code]

[2020-07-21 14:41] Zocker1999NET commented on #24
TL;DR: It would be great if the maintainers of this repository could add their `/debian` directory to this repository as the maintainers may are already managing one and this may could be reused for Debian/Ubuntu maintainers without further adaptions.

@lucypol I see your point too, the packaging itself is the task of the distro maintainers, also because sometimes adaptions to other packages or th

[2020-07-21 16:16] olaf-lange opened #39 "Support ARM32"
Please consider supporting Raspian OS.

Thx.

[2020-07-21 16:48] jperrin opened #40 "update linking to use libclang-cpp.so instead of libclangBasic.so"
libclang-cpp.so is a new shared object in clang-9.0.0 which
contains all the clang components in one library. Doing this will
save from having to update cmake when there is a new clang component
and may provide better performance in LTO builds of clang.

[2020-07-21 17:15] jamespeace commented on #26
I got the same problem.

`dennis@dennis-XPS-13-9370:~/workspace/Procmon-for-Linux/build$make
[ 78%] Building CXX object src/configuration/CMakeFiles/configuration-static.dir/procmon_configuration.cpp.o
In file included from /home/dennis/workspace/Procmon-for-Linux/src/configuration/procmon_configuration.h:21,
                 from /home/dennis/workspace/Procmon-for-Linux/src/configuration/procmon_

[2020-07-21 17:21] jamespeace commented on #26
Got the same error.

[code]

[code]
[code]

[2020-07-21 18:09] dragonxtek opened #41 "libclang_frontend issue when I try to compile"
After cmake finished in both, bcc and procmon, I try to compile them, but both stop here:

     struct pair
            ^~~~
Linking CXX static library libclang_frontend.a
Built target clang_frontend
make: *** [Makefile:163: all] Error 2

I have Ubuntu 18.10 with cmake 1.15

[2020-07-22 07:48] joekinley commented on #25
@jahabibi your instructions did not work with focal fossa 20.04. I still get the `E: Unable to locate package procmon`

[2020-07-22 14:48] damolp commented on #37
Did you look at the code?

It uses eBPF under the hood, so you're out of luck for MacOS support. Closest thing you'll get on MacOS is dtrace.

@brendangregg might be able to work some magic however

[2020-07-23 02:13] johanburati opened #43 "Add output option / Grepable output"
Would be nice to be able to grep the output.

Adding a "-o/--output" option with different output formats (json, jsonc, none, table, tsv, yaml, yamlc) would be best.

## Example:
[code]

[2020-07-23 09:29] tz4678 opened #44 "Arch Linux problems"
I added [procmon](https://aur.archlinux.org/packages/procmon/) to AUR.

I added dependencies following your instructions. See [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=procmon).

[code]

How to fix it?

[code]

[code]

[2020-07-23 09:38] tz4678 commented on #44
I've tried creating symbolic links but the result is the same (version error):

[code]

[2020-07-24 07:49] jahabibi commented on #37
Unfortunately at this point in time we do not have macOS on our roadmap for future support.

[2020-07-24 07:49] #37 closed

[2020-07-24 07:58] jahabibi commented on #38
This is a known issue and we are actively working on addressing it. Please watch #2 for updates as we upgrade BCC.

[2020-07-25 16:15] Velocet commented on #25
@joekinley The provided instructions work fine on 19.10 and 20.04. Both WSL2. So it seems you missed \`\`\`sudo apt update\`\`\`?

[2020-07-25 17:37] mbluett88 commented on #25
Nope. Performed the instructions exactly as described.

[2020-07-25 19:23] jahabibi commented on #25
@joekinley at this point in time we do not have a preview release candidate for Ubuntu 20.04. Only Ubuntu 18.04 LTS due to the fact that BCC v0.10.0 does not support the kernel that Ubuntu 20.04 ships with. Please follow #2 for updates as move forward in addressing this issue.

[2020-07-28 06:04] VMinute commented on #10
I regularly do apt upgrade of my system, but kernel version didn't change.
You have to install the HWE kernel to update it, but I would not consider that part of a "standard" update procedure.
Specifying Ubuntu 18.04.4 or Ubuntu 18.04 with kernel v XXX would make the documentation better, IMVHO.

[2020-07-30 10:51] bigZeroEndian opened #46 "Support for Centos"
Please consider supporting Centos 7/8.

Provide instruction to build from source against **Centos** or binary (rpm) for this distribution.

Thanks.

[2020-07-30 14:50] daniil-loban commented on #21
I have the same problem

[2020-08-01 19:45] Xarkam commented on #20
Hello, there is the log under KDE Neon 5.19:
[code]

[code]

[2020-08-06 12:11] j75 opened #47 "Nothing displayed on Linux - Ubuntu 18.04"
I have installed the Debian package, but nothing is displayed and on the console I have:
[code]

[2020-08-08 23:37] cmaritan commented on #10
Hello everyone, could it be useful to:

1. Update docs

2. Add a check on kernel version at runtime using "sys/utsname.h" and stop execution if does not match requirements (ver. < 4.18)

3. Add a check on kernel version in CMake. Maybe only a warning (It compiles but will not work in the system where it has been built).

I'm a beginner but I can try to submit PR if It's ok for @jahabibi , @TETRA20

[2020-08-09 00:30] MarioHewardt commented on #10
Thanks for the feedback @cmaritan. We're doing some work in terms of making the capabilities of the different kernels more user friendly in procmon. Stay tuned on that. For the time being though, if you want to create a PR for doc changes that would be much appreciated. Please add @MarioHewardt to the PR (@MarioHewardt, @jahabibi, @josalem are the maintainers).

[2020-08-10 07:24] cmaritan commented on #20
Hello @Xarkam , you are using kernel 5.4, Procmon preview release only works with kernels >=4.18 and **<=5.3** so, for now, the behaviour is expected.

[2020-08-10 08:49] sebastiandeorowicz commented on #17
Same problem under WSL2 Ubuntu 20.04 LTS.

[2020-08-10 14:15] MarioHewardt commented on #17
For WSL2 you need to enable BPF first: https://gist.github.com/MarioHewardt/5759641727aae880b29c8f715ba4d30f

[2020-08-22 21:14] jdrch opened #51 "Add support for Ubuntu 20.04"
See title. Manually setting up the repo and trying to install on 20.04 results in:

[code]

[2020-09-24 19:41] huornlmj opened #52 "Nothing displayed on Ubuntu 20.04.1 LTS"
Tried installing from the deb package and compiling from source but when I run it I get the display screen but no events recorded.  I know it's running because the function keys work.

Output below:

**$ sudo ./procmon
In file included from /virtual/main.c:21:
In file included from include/linux/dcache.h:7:
In file included from include/linux/rculist.h:11:
In file included from include/linux/rcupd

[2020-12-23 10:37] the-ress commented on #51
related: https://github.com/microsoft/ProcMon-for-Linux/issues/25#issuecomment-663891568 and #2

[2020-12-23 10:56] GingerGraham commented on #2
Will moving to the new BCC support other distros too?  Particularly I'm thinking of RHEL7 and 8?  Or is other work required for these distros?

[2020-12-27 08:33] RiotNrrrd commented on #46
I know it's not CentOS 7 or 8, but I got Procmon for Linux to build on Fedora 33.

Unfortunately it crashes pretty quickly.

`[root@Fedora33 Procmon-for-Linux]# ls -l build/procmon
-rwxr-xr-x. 1 root root 103M Nov 14 03:44 build/procmon*

[root@Fedora33 Procmon-for-Linux]# file build/procmon
build/procmon: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), dynamically linked, interpreter /l

[2020-12-27 09:57] RiotNrrrd commented on #46
Update:

I made this small change and now it runs, but it doesn't seem to do anything.  The banner comes up but if I run it with "-p" to attach it to a running persistent process, I get no output.

--
`[root@Fedora33 build]# diff -rC 1 CMakeCache.txt.dist CMakeCache.txt`
`*** CMakeCache.txt.dist	2020-12-27 01:29:20.515116300 -0800`
`--- CMakeCache.txt	2020-12-27 01:45:45.961636962 -0800`
`********

[2020-12-29 19:01] gardotd426 commented on #44
The real problem is it doesn't work on Arch anyway.

I successfully built it from source (not using your PKGBUILD or anything, just manually), and you get this:

[code]

[2021-01-06 22:06] trivalik commented on #51
Build from master BCC via `git clone https://github.com/iovisor/bcc.git` and master of ProcMon-for-Linux makes it working for 20.10, probably also for your version

[2021-01-07 11:40] ahmetmithat commented on #13
I tried the same on 18.04, it does not produce any error, procmon UI opens but nothing is displayed.

[2021-02-15 19:21] villelaitila commented on #51
That really helped with my issue. But not before I did `sudo apt remove libclang-common-10-dev && sudo apt autoremove` to get rid of conflicting LLVM 10 with its own incompatible version of clang. Dockerized setup would actually be very nice for this tool!

[2021-03-19 05:43] HowellHu opened #56 "Centos comments?"

[2021-03-19 05:43] #56 closed

[2021-04-05 07:10] eric-cartman-dev commented on #46
@RiotNrrrd - thx for advice with llvm!
I'm also tried build & run procmon on fedora 33. Can't build bcc from sources (clang issues). I have installed bcc using yum [sudo dnf install bcc bcc-devel](https://github.com/iovisor/bcc/blob/master/INSTALL.md#fedora---binary).
Logging procmon to file doesn't work (0 events, empty sqlite database), but without file option some events logged:
![procmon](http

[2021-04-05 07:18] eric-cartman-dev commented on #46
Just now another capture to file worked successfully (another program).

[2021-04-22 14:36] SigmaStar opened #58 "Windows version all or lib"
any chance to allow windows developer make use of command line version of procmon or library?

[2021-04-29 07:17] TimelifeCzy opened #60 "error: 'BPF_MAP_TYPE_QUEUE' was not declared in this scope"
`
root@ubuntu:~/Procmon-for-Linux/build# cmake ..
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX compiler ABI info
-- Detecting CXX compi

[2021-04-29 07:19] TimelifeCzy commented on #60
Ask for help~

[2021-04-29 09:00] TimelifeCzy commented on #60
update new Bcc Success~
https://github.com/iovisor/bcc/releases

[2021-04-29 09:00] #60 closed

[2021-05-06 00:37] jahabibi commented on #51
Resolved in [Procmon 1.0.1](https://github.com/Sysinternals/ProcMon-for-Linux/tree/1.0.1)

[2021-05-06 00:37] #51 closed

[2021-05-06 00:39] jahabibi commented on #2
@GingerGraham Upgrading BCC unfortunately does not unblock RHEL7 and RHEL8 due to underlying issues of BCC on RHEL.

Closing issue as Procmon 1.0.1 ships with latest version of BCC.

[2021-05-06 00:39] #2 closed

[2021-05-06 00:43] jahabibi commented on #13
Ubuntu 20.04 is now supported as of [1.0.1](https://github.com/Sysinternals/ProcMon-for-Linux/tree/1.0.1).

[2021-05-06 00:43] #13 closed

[2021-05-06 00:44] jahabibi commented on #17
Closing stale issue.

[2021-05-06 00:44] #17 closed

[2021-05-06 01:05] MarioHewardt commented on #27
There are currently no plans to open source the Windows versions.

[2021-05-06 01:05] #27 closed

[2021-05-06 01:09] #18 closed

[2021-05-06 01:11] MarioHewardt commented on #58
At the moment, the Linux and Win versions are separate and no plans for the above.

[2021-05-06 01:11] #58 closed

[2021-05-06 01:14] MarioHewardt commented on #52
We just added support for 20.04. Please give it a try and let us know.

[2021-05-06 01:16] jahabibi commented on #25
Ubuntu 20.04 now supported with [Procmon 1.0.1](https://github.com/Sysinternals/ProcMon-for-Linux/tree/1.0.1).

[2021-05-06 01:16] #25 closed

[2021-05-06 01:17] jahabibi commented on #38
As of [Procmon 1.0.1](https://github.com/Sysinternals/ProcMon-for-Linux/tree/1.0.1) we now utilize BCC 0.19.0.

[2021-05-06 01:17] #38 closed

[2021-05-06 01:20] #52 closed

[2021-05-06 01:21] jahabibi commented on #47
Let us know if this issue persists in [Procmon 1.0.1](https://github.com/Sysinternals/ProcMon-for-Linux/tree/1.0.1).

[2021-05-06 01:21] #47 closed

[2021-05-06 07:07] Chaz6 opened #61 "Compile error in src/display/event_formatter.cpp"
[code]

The compiler is `clang 12.0.0`.

[2021-05-06 07:41] msftnadavbh opened #62 "Support for WSL2"
After installation on WSL2 :

uname -ar
Linux nadavbhp1 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

sudo procmon
_terminate called after throwing an instance of 'std::experimental::filesystem::v1::__cxx11::filesystem_error'
  what():  filesystem error: directory iterator cannot open directory: No such file or directory [/sys/kernel/debug/traci

[2021-05-06 11:57] gtirloni commented on #44
I'm getting the same error on Fedora 34.

[code]

Build environment:

[code]

[2021-05-06 12:37] asalmela commented on #24
Intent to package has been filed at Debian bug tracker: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=965242

[2021-05-06 14:54] jdrch opened #63 "Support non-LTS distributions"
Procmon seems to target Ubuntu 18.04 and 20.04 exclusively. Some of us, like myself, are running shorter release cycle distros. I'm asking that support be added for these too.

[2021-05-06 16:32] jarmar opened #64 "Exponential regex"
This regex in `src/tracer/ebpf/syscall_schema.h` has exponential complexity due to the double `+` signs:

[code]

This caused `ProcMon` to hang on startup on my machine. The solution should be to remove the second `+`.

[2021-05-06 16:40] AeonEternum opened #65 "Build fails on Debian 10 @ "fatal error: FlexLexer.h: No such file or directory""
Here's the output:

Any ideas how to resolve this?

Thanks

Cheers, Aeon

[2021-05-07 06:38] Segun22Wills opened #68 "Linux Pocmon"

[2021-05-07 06:56] #68 closed

[2021-05-07 14:31] syrofoam commented on #44
Yeah same problem after building it from source. [strace log](https://dpaste.com/4AZ8JM89T)

[2021-05-08 01:21] marcoshaw commented on #62
I wonder if this is more of a WSL2 issue, then a ProcMon one?
[https://gist.github.com/MarioHewardt/5759641727aae880b29c8f715ba4d30f](https://gist.github.com/MarioHewardt/5759641727aae880b29c8f715ba4d30f)

[2021-05-08 20:21] j75 commented on #47
No, in **1.0.1** version the issue is fixed, I confirm!
Thank you very much...

[2021-05-19 02:37] DI555 commented on #27
@MarioHewardt ,
but, may be possible make it open source, but with any 'closed' licence..?
so, people could pull patches for it..

[2021-05-22 12:30] devqore commented on #44
I'm adding backtrace for above problem:

[code]

[code]

[2021-05-25 17:33] crafter999 commented on #65
You need Install the flex package using the following command `apt-get install libfl-dev`

[2021-05-25 22:04] MarioHewardt commented on #63
Should work just fine on the non-LTS distros, however, testing and release management is only on the LTS versions.

[2021-05-25 22:07] MarioHewardt commented on #62
@marcoshaw  correct. You need to enable eBPF on WSL2 and the gist shows you how to do that. Even with that though, there are currently a few blockers in eBPF itself (mainly some helper APIs being namespace aware) that ends up giving false information in procmon. This has since been fixed but only available in the absolute latest kernels (as far as am I aware).

[2021-05-25 22:08] MarioHewardt commented on #61
Thanks for fixing!

[2021-05-25 22:08] #61 closed

[2021-05-25 22:12] MarioHewardt commented on #46
We are reworking procmon a bit to be able to more easily support new distros. We are well on our way to getting it enabled. Stay tuned.

[2021-05-25 22:13] MarioHewardt commented on #44
We are reworking procmon a bit to be able to more easily support new distros. We are well on our way to getting it enabled. Stay tuned.

[2021-05-25 22:14] MarioHewardt commented on #41
To build procmon, it requires CMAKE 3.14 or higher.

[2021-05-25 22:14] #41 closed

[2021-05-25 22:34] MarioHewardt commented on #30
Please log an issue with EasyLogging++ which is the dependent logging framework.

[2021-05-25 22:34] #30 closed

[2021-05-25 22:34] #31 closed

[2021-05-25 22:34] #32 closed

[2021-05-25 22:36] MarioHewardt commented on #20
As part of our work to enable more distros, we will support a larger number of distros/kernel versions. This work should be coming in the next few months.

[2021-05-25 22:36] #20 closed

[2021-05-25 22:38] #4 closed

[2021-05-25 22:59] #64 closed

[2021-05-26 02:35] jdrch commented on #63
I imagine that's the case, but the repo is configured to return packages for LTS versions only. If you install the repo on a non-LTS version, e.g. 20.10, `# apt install procmon` will not find any package by that name.

[2021-05-26 19:15] elfring commented on #30
Would you like to [influence the software evolution any further](https://github.com/amrayn/easyloggingpp/issues/789 "Update suggestion")?

[2021-05-26 19:21] elfring commented on #31
I would appreciate a more constructive feedback for this issue.

[2021-05-26 19:26] elfring commented on #32
Can the chances grow for constructive feedback here?

[2021-05-27 17:17] AeonEternum commented on #65
Thanks! That helped. No idea why the package didn't get installed properly with the rest of the dependencies.

[2021-06-18 20:35] #65 closed

[2021-06-18 20:36] #62 closed

[2021-06-18 20:42] MarioHewardt commented on #40
This is a BCC dependency and not procmon.

[2021-06-18 20:42] #40 closed

[2021-06-18 20:45] MarioHewardt commented on #36
This is a BCC dependency not procmon.

[2021-06-18 20:45] #36 closed

[2021-06-18 21:03] MarioHewardt commented on #10
This should be fixed with procmon 1.1

[2021-06-18 21:03] #10 closed

[2021-06-21 15:38] MarioHewardt opened #70 "Support additional distros"
Tracking issue to remove dependency on BCC

[2021-06-21 15:39] MarioHewardt commented on #63
Duplicate of #70

[2021-06-21 15:39] #63 closed

[2021-06-21 15:39] MarioHewardt commented on #46
Duplicate of #70

[2021-06-21 15:39] #46 closed

[2021-06-21 15:40] MarioHewardt commented on #44
Duplicate of #70

[2021-06-21 15:40] #44 closed

[2021-06-21 15:41] MarioHewardt commented on #29
While its a nice to have, this is currently not on our priority list. Feel free to submit a PR.

[2021-06-21 15:42] MarioHewardt commented on #21
Duplicate of #70

[2021-06-21 15:42] #21 closed

[2021-06-21 15:43] MarioHewardt commented on #8
Duplicate of #70

[2021-06-21 15:43] #8 closed

[2021-07-07 01:52] Woxiang-107 opened #71 "Where can I see the file path"
Exceuse me！
If I use python to write a picture into a specific folder, where can I find the path information?
Thanks！
![Screenshot from 2021-07-06 20-19-29](https://user-images.githubusercontent.com/71008581/124688228-023a3180-df09-11eb-87b8-0349d3a13a56.png)

[2021-07-07 03:01] Woxiang-107 commented on #71
In procmon for windows, I can check it in line[path] like this：
![A69EE850D923C9FA79AD6CEE2D4BD34C](https://user-images.githubusercontent.com/71008581/124693794-9957b700-df12-11eb-9750-824e802841e0.png)

[2021-07-12 11:04] tomcass240 opened #72 "Can't see anything on opening"
The program opens up but doesn't display any process information, just a totally blank table. I installed/built the program following the instructions. Anyone know what I can do to find out what the problem might be? Here are the messages I get from the terminal.

`In file included from <built-in>:2:
In file included from /virtual/include/bcc/bpf.h:12:
In file included from include/linux/types.h:6

[2021-07-12 11:17] tomcass240 opened #73 "Cmake creating empty folders"
Hey guys, I also run into another issue when following the build instructions.

When I am trying to make the .deb package running the command cmake .. it seems to run fine but just creates a few 22 byte archives which obviously can't be opened.

[2021-07-14 07:43] krzyk opened #74 "Please document which kernel options are needed for procmon to work"
I just installed procmon (from the source) and when I do `sudo procmon` I get:
[code]

So it looks like this needs some kernel options to use, it would be good to document that in README.md

[2021-07-14 19:01] jahabibi commented on #74
@krzyk could you share the details of your environment? OS? Kernel? Are you attempting to run Procmon inside WSL?

[2021-07-30 20:24] jahabibi commented on #73
Hey @tomcass240 what commands specifically did you run in an attempt to construct your .deb packages? By default our build instructions do not package Procmon.

[2021-07-30 20:25] MarioHewardt commented on #72
What environment (distro/kernel) are you running on?

[2021-07-30 20:27] MarioHewardt commented on #71
Is there a corresponding write syscall listed in the all up trace? We are also working on the file descriptor to file path at the moment.

[2021-08-02 11:59] Woxiang-107 commented on #71
Thx a lot, I get the file path in proc/pid/fd. You could consider about this,.

[2021-08-03 15:42] WSLUser opened #75 "Optimize TUI portion with latest notcurses"
I would love to see this optimized for use with the notcurses library to bring better graphics input to terminals. https://github.com/dankamongmen/notcurses/releases Example usage: https://github.com/dankamongmen/colloquy

[2021-08-04 15:12] WSLUser commented on #74
If you enable all options for bcc, then you should be able to use this without issue. BCC project makes it quick and easy to determine the kernel options needed. https://github.com/iovisor/bcc/blob/master/INSTALL.md#kernel-configuration

[2021-08-04 15:48] WSLUser commented on #75
@MarioHewardt Could you bring this up with your SysInt peers who work on this project? The maintainer is a MS employee himself.

[2021-08-24 07:45] danielkrajnik opened #77 "Doesn't seem to work on ubuntu 21.04"
running this:
wget -q https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
sudo dpkg -i packages-microsoft-prod.deb

gives this
E: Unable to locate package procmon

on ubuntu 21.04

Says it still can't find procmon after following the installation instruction for the .deb package

[2021-08-25 03:02] gui28347 opened #78 "Issue to build/run on Debian 11 due clang library"
cmake ..
-- The C compiler identification is GNU 10.2.1
-- The CXX compiler identification is GNU 10.2.1
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for workin

[2021-08-25 03:42] gui28347 commented on #78
Issue fixed after apt get install llvm-devel

[2021-08-25 03:42] #78 closed

[2021-08-25 03:56] gui28347 opened #79 "Segmentation fault after loading procmon Debian 11"
* I was able to build successfully but after executing procmon with no parameters it crash with segmentation fault message

* Warnings during load:
In file included from <built-in>:2:
In file included from /virtual/include/bcc/bpf.h:12:
In file included from include/linux/types.h:6:
In file included from include/uapi/linux/types.h:14:
In file included from include/uapi/linux/posix_types.h:5:
In fi

[2021-08-25 16:31] jahabibi commented on #79
Hey @gui28347 sorry to hear that you are having this issue. At this point in time the preview of Procmon for Linux is only supported on Ubuntu due to known issues with one of our dependencies. We are actively working to resolve this moving forward so that we can expand our distro support as we move towards a GA release.

[2021-09-02 00:06] edisga opened #80 "[Makefile:163: all] Error 2 - Debian 10 with cmake 3.14.0"
Hello, I am compiling with cmake 3.14.0 and Debian 10 into a Docker container but I am getting the following error at the end:

In file included from /root/Procmon-for-Linux/build/_deps/bcc-src/src/cc/api/BPF.h:25,
                 from /root/Procmon-for-Linux/src/configuration/../tracer/ebpf/ebpf_tracer_engine.h:6,
                 from /root/Procmon-for-Linux/src/configuration/procmon_configurat

[2021-09-02 05:52] jahabibi commented on #80
Hey @edisga this appears to be a build issue with our dependency BCC on Debian and not with Procmon itself. With that even if it did compile I predict that you would run into the same known issue as #79 that we are actively working on addressing.

[2021-09-03 23:43] jahabibi commented on #77
Hey @danielkrajnik at this point in time for the preview of Procmon for Linux we only [officially support Ubuntu 18.04 and 20.04](https://github.com/Sysinternals/ProcMon-for-Linux/blob/main/INSTALL.md#ubuntu-1804--2004). With that there is no package available in the Microsoft package repositories for Ubuntu 21.04 which is why `apt` errors out.

If you would like you can manually install the Ubunt

[2021-09-03 23:43] #77 closed

[2021-09-03 23:43] jahabibi commented on #79
Related issue #70.

[2021-09-03 23:43] jahabibi commented on #80
Related issue #70.

[2021-09-03 23:44] jahabibi commented on #24
Related issue #70.

[2021-09-13 15:39] edisga commented on #80
Thanks @jahabibi for the reply. I will be waiting for this implementation. This will open a big door in App Service Linux containers.

[2021-09-28 15:49] WSLUser commented on #75
Updated title as it's not just the TUI that can be enhanced.

[2021-10-11 18:58] kushaldas opened #81 "Can not build on Fedora 35"
[code]

[2021-10-11 23:04] MarioHewardt commented on #81
Related issue #70 .

[2021-12-21 05:35] ThomsonTan opened #82 "ProcMon-for-Linux doesn't work in WSL2"
Built ProcMon-for-Linux in WSL2 (with Ubuntu 20.04 distro) on Windows 11, but it doesn't run with below error.

[code]
Below issue might be related.
https://github.com/Sysinternals/ProcMon-for-Linux/issues/74

[2021-12-31 01:37] MarioHewardt commented on #82
Can you try mounting /sys/kernel/debug? I.e., 'sudo mount -t debugfs nodev /sys/kernel/debug'.

[2021-12-31 02:36] ThomsonTan commented on #82
Thanks @MarioHewardt. I mounted `/sys/kernel/debug` successfully, but then got another error as below.

Unable to find kernel headers. Try rebuilding kernel with CONFIG_IKHEADERS=m (module) or installing the kernel development package for your running kernel version.
chdir(/lib/modules/5.10.60.1-microsoft-standard-WSL2/build): No such file or directory

The config of the inbox WSL kernel shows `CO

[2022-01-03 21:13] MarioHewardt commented on #82
You may need to build a new kernel. Have a look at - https://gist.github.com/MarioHewardt/5759641727aae880b29c8f715ba4d30f and see if that helps.

[2022-02-11 21:26] #82 closed

[2022-02-23 23:54] malcolmmccaffery commented on #81
I built on Fedora 34 with these steps(these are probably not optimal and installed more packages then necessary)

sudo dnf -y install bison flex git
sudo dnf -y install libedit-devel
sudo dnf -y install clang
sudo dnf -y install clang-tools-extra
sudo dnf -y install clang-libs
sudo dnf -y install netperf
sudo dnf -y install iperf3
sudo dnf -y  install luajit luajit-devel
sudo dnf -y  install libcl

[2022-02-23 23:56] malcolmmccaffery commented on #81
I will add this helps it build fine on Fedora, but it doesn't work for me, it launches and shows the UI but doesn't monitor anything. The console has the following output

[code]

[2022-02-24 00:57] MarioHewardt commented on #81
Thanks for the report. We have an umbrella issue (#70) that tracks the work we need to do to get procmon running on other distros besides the currently supported ones (Ubuntu 18.04 and 20.04).

[2022-02-24 00:57] #81 closed

[2022-05-04 18:29] MarioHewardt commented on #74
@krzyk could you share the details of your environment? OS? Kernel? Are you attempting to run Procmon inside WSL?

[2022-05-04 18:32] MarioHewardt commented on #80
Duplicate of #70

[2022-05-04 18:35] MarioHewardt commented on #71
We will need to do the lookup in eBPF space. Thanks for reporting this - it is something that is high up on the priority list.

[2022-05-05 00:15] MarioHewardt commented on #72
Closing this issue for now. Please feel free to re-open and add the environment specific details.

[2022-05-05 00:15] #72 closed

[2022-05-05 16:20] MarioHewardt commented on #79
Duplicate of #70

[2022-05-05 16:20] #79 closed

[2022-05-28 04:30] lgbaldoni opened #86 "Build fails with gcc 12"
Using procmon 1.0.1 on openSUSE Tumbleweed, with the following cmake parameters:
[code]

and this is where it fails:

[code]

No error with gcc 11.

[2022-06-09 21:44] bonze82 commented on #74
I'm getting the same error
bpf: Failed to load program: Invalid argument
fd 9 is not pointing to valid bpf_map
processed 0 insns (limit 1000000) max_states_per_insn 0 total_states 0 peak_states 0 mark_read 0

bpf: Failed to load program: Invalid argument
fd 9 is not pointing to valid bpf_map
processed 0 insns (limit 1000000) max_states_per_insn 0 total_states 0 peak_states 0 mark_read 0

debian 11

[2022-06-09 22:02] MarioHewardt commented on #74
Hey - looks like it failed verification. We're aware of verifier errors on some distros/versions and will look into it as soon as we can.

[2022-06-10 02:34] bonze82 commented on #74
I was looking for that exact error or something close and ran across this https://opendev.org/starlingx/kernel/commit/15a50452ba9b483b4949437e960dea4932a7b26c

Several of the kernel config flags for bpf are disabled in my kernel config. Would enabling them fix the issue we are seeing.

[2022-08-02 08:22] valsamis-d opened #91 "WSL2 Ubuntu 20.04: Exception is thrown"
Hi,

I followed the steps below:

[code]

and then

[code]

but when I do `sudo procmon` I get the following runtime error:

![image](https://user-images.githubusercontent.com/17590539/182327988-b13407b8-416e-4ffd-adb6-3a053679ac02.png)

Thank you
Dimitrios

[2022-08-02 17:43] valsamis-d commented on #91
@MarioHewardt tried the above, and now I get the following RTE:

![image](https://user-images.githubusercontent.com/17590539/182439568-6cc7909d-ff46-4faa-bdcd-a8fdab15c1c0.png)

[2022-08-02 21:36] MarioHewardt commented on #91
Ah, with WSL2 it looks like you will need to enable kernel headers. Please look over at https://github.com/microsoft/WSL2-Linux-Kernel for build instructions.

[2022-08-11 17:46] grubeli opened #92 "Procmon for Android"
Is possible to compile this project to target Android systems?

[2022-08-11 20:38] MarioHewardt commented on #92
We haven't tried Android yet. The biggest dependency is eBPF/BCC and if that is available, it should be possible.

[2022-08-12 04:56] grubeli commented on #92
eBPF is supported by recent versions of Android
BCC have arm64 builds

[2022-09-21 14:06] nopa12 commented on #91
try this to fix the kernel headers:
https://gist.github.com/nopa12/c216d12d7ae0180d14307df3d95f37e4#easy-solution

[2022-10-29 07:59] QGB opened #94 "make error"
[code]

[2022-10-29 08:02] QGB commented on #60
same problem .
@TimelifeCzy

How to update bcc ?

[2022-10-29 08:18] QGB commented on #94
https://github.com/iovisor/bcc/issues/4301

[code]

[2022-10-29 09:16] QGB commented on #94
[code]

[2022-11-07 14:30] antonio-petricca commented on #94
Same error for me!

[2022-11-07 14:34] antonio-petricca commented on #60
Same for me!